## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Mataura,NZ,-46.1927,168.8643,52.48,99,100,2.84,light rain
1,1,Arraial Do Cabo,BR,-22.9661,-42.0278,75.38,91,100,9.24,overcast clouds
2,2,Busselton,AU,-33.6500,115.3333,98.04,33,57,15.95,broken clouds
3,3,Ushuaia,AR,-54.8000,-68.3000,42.46,70,75,23.02,broken clouds
4,4,Hithadhoo,MV,-0.6000,73.0833,81.64,74,100,10.09,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 78
What is the maximum temperature you would like for your trip? 89

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
4,4,Hithadhoo,MV,-0.6000,73.0833,81.64,74,100,10.09,overcast clouds
5,5,Georgetown,MY,5.4112,100.3354,87.73,79,20,3.00,few clouds
8,8,Kavieng,PG,-2.5744,150.7967,83.52,71,82,5.46,broken clouds
12,12,Rikitea,PF,-23.1203,-134.9692,78.08,74,100,18.41,overcast clouds
14,14,Atuona,PF,-9.8000,-139.0333,79.00,72,4,17.02,clear sky
24,24,Butaritari,KI,3.0707,172.7902,81.90,76,17,14.52,light rain
30,30,Tual,ID,-5.6667,132.7500,83.71,72,84,14.52,broken clouds
32,32,Yulara,AU,-25.2406,130.9889,78.64,27,84,19.57,broken clouds
34,34,Maceio,BR,-9.6658,-35.7353,78.24,83,20,3.44,few clouds
41,41,Kapaa,US,22.0752,-159.3190,78.78,67,0,1.01,clear sky

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                103
City                   103
Country                103
Lat                    103
Lng                    103
Max Temp               103
Humidity               103
Cloudiness             103
Wind Speed             103
Current Description    103
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
4,4,Hithadhoo,MV,-0.6000,73.0833,81.64,74,100,10.09,overcast clouds
5,5,Georgetown,MY,5.4112,100.3354,87.73,79,20,3.00,few clouds
8,8,Kavieng,PG,-2.5744,150.7967,83.52,71,82,5.46,broken clouds
12,12,Rikitea,PF,-23.1203,-134.9692,78.08,74,100,18.41,overcast clouds
14,14,Atuona,PF,-9.8000,-139.0333,79.00,72,4,17.02,clear sky
24,24,Butaritari,KI,3.0707,172.7902,81.90,76,17,14.52,light rain
30,30,Tual,ID,-5.6667,132.7500,83.71,72,84,14.52,broken clouds
32,32,Yulara,AU,-25.2406,130.9889,78.64,27,84,19.57,broken clouds
34,34,Maceio,BR,-9.6658,-35.7353,78.24,83,20,3.44,few clouds
41,41,Kapaa,US,22.0752,-159.3190,78.78,67,0,1.01,clear sky

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Hithadhoo,MV,81.64,overcast clouds,-0.6000,73.0833,
5,Georgetown,MY,87.73,few clouds,5.4112,100.3354,
8,Kavieng,PG,83.52,broken clouds,-2.5744,150.7967,
12,Rikitea,PF,78.08,overcast clouds,-23.1203,-134.9692,
14,Atuona,PF,79.00,clear sky,-9.8000,-139.0333,
24,Butaritari,KI,81.90,light rain,3.0707,172.7902,
30,Tual,ID,83.71,broken clouds,-5.6667,132.7500,
32,Yulara,AU,78.64,broken clouds,-25.2406,130.9889,
34,Maceio,BR,78.24,few clouds,-9.6658,-35.7353,
41,Kapaa,US,78.78,clear sky,22.0752,-159.3190,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]    
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"    

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
hotel_df.count()

City                   103
Country                103
Max Temp               103
Current Description    103
Lat                    103
Lng                    103
Hotel Name             103
dtype: int64

In [14]:
# 7. Drop the rows where there is no Hotel Name.
nan_value = float("NaN")
hotel_df.replace("", nan_value, inplace=True)
hotel_df.dropna(subset = ["Hotel Name"], inplace=True)

In [15]:
clean_hotel_df = hotel_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng", "Hotel Name"]].copy()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Hithadhoo,MV,81.64,overcast clouds,-0.6000,73.0833,Scoop Guest House
5,Georgetown,MY,87.73,few clouds,5.4112,100.3354,Cititel Penang
8,Kavieng,PG,83.52,broken clouds,-2.5744,150.7967,Nusa Island Retreat
12,Rikitea,PF,78.08,overcast clouds,-23.1203,-134.9692,People ThankYou
14,Atuona,PF,79.00,clear sky,-9.8000,-139.0333,Villa Enata
...,...,...,...,...,...,...,...
645,Villa Del Rosario,CO,79.18,scattered clouds,7.8339,-72.4742,Hotel Villas de San Diego
660,Mount Isa,AU,83.97,overcast clouds,-20.7333,139.5000,ibis Styles Mt Isa Verona
664,Kuah,MY,81.99,clear sky,6.3265,99.8432,Azio Hotel
677,Baturaja,ID,82.51,broken clouds,-4.1333,104.1667,"HOTEL Sekar Sunja, Baturaja Timur, Ogan Komeri..."
678,Piacabucu,BR,78.31,broken clouds,-10.4056,-36.4344,Piaçabuçu News

In [16]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [17]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Curent Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [19]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))